
.annotation {
    position: relative;
    // height: 0px;
    // width: 0px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 2s;
    img {
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
    &.annotation-visible {
      opacity: 1;
      img {
        opacity: 1;
      }
    }
    .annotation-inner {
      // position: absolute;
      // background-color: white;
      border-radius: 0.6em;
      padding: 1em 1.2em;
      top: 0;
      left: 0;
      display: flex;
  
      width: 25em;
      text-align: right;
      font-size: small;
      color: white;
      height: 220px;
      &.content-right {
        text-align: left;
        .content {
          padding-top: 0.5em;
        }
  
        ul {
     
          li {
            direction: ltr;
      
          }
        }
      }
      &.speaking {
        height: inherit;
        padding: 1em;
      }
      .carla-speaking {
        text-align: center;
        background-color: white;
        color: black;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.25em 1em 1.75em 1em;
        font-weight: 400;
        img{
          width: 4em;
          // margin-bottom: 1em;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        min-width: 250px;
      }
      .label {
        width: 3em;
        max-width: 55px;
        margin-right: -3em;
        transform: rotate(180deg);
        &.label-right {
          transform: rotate(0deg);
          margin-right: 0em;
        }
      }
    }
  }
  .annotation-list-container{
    .annotation-text-container{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }
  .annotation-text-container, .annotation-list-container {
    position: relative;
    overflow: hidden;
    min-width: fit-content;
    transition-delay: 0s;

    
    ul {
      margin-top: 1em;
      li {
        direction: rtl;
  
        display: flex;
        gap: 1em;
        font-size: smaller;
        align-items: center;
        font-weight: 100;
        .svg-icon--check-squared {
          height: 12px;
          color: lime !important;
        }
        
      }
    }
  }
  
  
  .annotation-text-container--proxy {
    opacity: 0;
  }