#actions-container{
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 100000000000000000000;
    // display: flex;
    display: none;
    flex-direction: column;
    gap: 0.5em;
    zoom: 0.75;
}

#film-script-actions-container{
    display: flex;
    flex-direction: column;
    width: 13em;
    gap: 1em;
    position: fixed;
    z-index: 100000000000;
    zoom: 0.5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    top: 1.5em;
    // left: 28em;
    left:1.5em;
    button{
        padding: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: inherit;
    }
}